tornado==3.2
redis==2.10.5
scrapy
image_match
jellyfish==0.5.2
lxml==2.3
numpy==1.10.4
oauthlib==1.0.3
py2neo==2.0.8
tweepy==3.5.0
pygithub3==0.5.1
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
stemming==1.0.1
tweepy==3.5.0
scikit-image==0.12.3
matplotlib==1.5.1
circus
circus-web
chaussette
selenium==2.53.6