<!doctype html>
<head>
  <title>PeerRank</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/a9bfcaf5af.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='pagination.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.amd.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="center"><strong>PeerRank</strong> - <small><i> Finding topical authorities across Twitter, Quora and StackOverflow!</i></small></h1>
      </div>
    </div>
    <div class="row" style="margin-top:60px">
      <div class="col-md-6 col-md-offset-3">
        <div class="well" id="index-container">
          <form class="form-inline" action="/search" method="get">
            <div class="form-group">
              <label class="sr-only" for="query">Topic</label>
              <input type="text" name="q" {% if query is defined %}value="{{query}}" {% endif %} class="form-control" id="query-input" placeholder="Enter a Short Query">
            </div>
            <button type="submit" class="btn btn-primary" value="submit">Search</button>
            <div class="checkbox">
              <label title="Include StackOverflow">
                <input type="checkbox" title="Include StackOverflow" name="include_so" id="include-so" {% if include_so %}checked{% endif %}> Include <i class="fa fa-stack-overflow" aria-hidden="true"></i>
              </label>
            </div>
            <div class="checkbox">
              <label title="Include Quora">
                <input type="checkbox" title="Include Quora" name="include_q" id="include-so" {% if include_q %}checked{% endif %}> Include <i class="fa fa-quora" aria-hidden="true"></i>
              </label>
            </div>
          </form>
          <div class="results" id="results-container">
            {% if query %}
              <h3> Search results for: "{{ query }}"</h3>
              <p> {{ num_results }} returned in {{ "%.2f" |format(time_taken) }} s</p>
              <p> 
                {% if stats['so_merged'] > 0 %}
                  {{ stats['so_merged'] }} merged from StackExchange,
                {% endif %}
                {% if stats['so_added'] > 0 %}
                  {{ stats['so_added'] }} added from StackExchange,
                {% endif %}
                {% if stats['q_merged'] > 0 %}
                  {{ stats['q_merged'] }} merged from Quora,
                {% endif %}
                {% if stats['q_added'] > 0 %}
                  {{ stats['q_added'] }} added from Quora
                {% endif %}
              </p>
              <hr/>
            {% endif %}
            <!-- your results here !-->
            {% for user in results %}
              {% include 'expert.html' %}
            {% endfor %}
          </div>
          <div id="pagination-container"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='page.js') }}"></script>
</body>

{% raw %}
<script type="text/template" id="template-expert">
  <div class="twitter-expert">
    <div class="row">
      <div class="col-md-2">
        <img data-user-score="{{ user.score }}" {{#if user.profile_image_url == "None" }} src="static/twitter-default-img.png" {{ else }} src="{{ user.profile_image_url }}"{{/if}} class="img-thumbnail">
      </div>
      <div class="col-md-10">
        <p>
          <a target="_blank" href="https://www.twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a> : 
        {{ user.name }}
        {{#if user.verified }}
          <img src="static/verified.png">
        {{/if}}
        {{#if user.is_added_stackoverflow }}
          <span class="label label-success">Added <i class="fa fa-stack-overflow" aria-hidden="true"></i></span>
        {{/if}}
        {{#if user.is_merged_stackoverflow }}
          <span class="label label-info">Merged <i class="fa fa-stack-overflow" aria-hidden="true"></i></span>
        {{/if}}
        {{#if user.is_added_quora}}
          <span class="label label-success">Added <i class="fa fa-quora" aria-hidden="true"></i></span>
        {{/if}}
        {{# if user.is_merged_quora }}
          <span class="label label-info">Merged <i class="fa fa-quora" aria-hidden="true"></i></span>
        {{/if}}
        </p>
          {{#if user.is_added_stackoverflow or user.is_merged_stackoverflow}}
        <p>
          <a href="{{ user['so_url'] }}" target="_blank">{{ user['so_display_name'] }}</a> - Reputation : <span class="badge">{{ user['so_reputation'] }}</span>
        </p>
      {{/if}}
      {{#if user.is_added_quora or user.is_merged_quora}}
        <p>
          <a href="{{ user['q_url'] }}" target="_blank"> Quora: {{ user['q_name'] }}</a> - Views : <span class="badge">{{ user['q_num_views'] }}</span>
        </p>
      {{/if}}
      <p>{{ user.description }}</p>
    </div>
  </div>
</div>
</script>
{% endraw %}